STRIPE_SECRET_KEY="rk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

SPIRIS_CLIENT_ID=""
SPIRIS_CLIENT_SECRET=""
# SPIRIS_DEV_REDIRECT_URI=

# If running jekyll locally
# LIBERA_CHAT_WEBSITE_URI=http://localhost:4000
